@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  /* background: oklch(var(--b2)); */
  background: linear-gradient(to right, #0f0f23, #1c1c34);
  color: white;
}


/* .adafelbg {
  background: radial-gradient(circle, #4d004d, black);
} */
.adafelbg {
  background: linear-gradient(to right, #404142, #2c2d2e);
  /* padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center; */

}
.glossy-background {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.2));
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.navbar {
  background-color: rgba(161, 156, 156, 0); /* Adjust the alpha value for desired transparency */
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
}
.navbar-text{
  color: black;
}

.black-text{
  color: black;
}

.padding{ 
  padding-bottom: 50px;
}

.heading {
  font-size: 40px; /* Large font size for headers */
  background: -webkit-linear-gradient(left, #957DAD, #B4AEE8); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold; /* Makes the text bold */
  text-align: center; /* Centers the text */
}

.des {
  font-size: 20px; /* Large font size for headers */
  background: -webkit-linear-gradient(left, #957DAD, #B4AEE8); /* Gradient from dark lavender to light lavender */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center; /* Centers the text */
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
  color:#0f0f23
}

.button {
  background: #6741D9; /* Initial background color (dark purple) */
  color: white; /* Text color */
  border: none; /* No border */
  padding: 10px 20px; /* Padding around the text */
  border-radius: 20px; /* Rounded corners */
  font-weight: bold; /* Bold text */
  text-transform: uppercase; /* Uppercase text */
  cursor: pointer; /* Pointer cursor on hover */
  outline: none; /* Remove outline */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for background and shadow */
}

.button:hover {
  background: #FC49AB; /* Background color on hover (vibrant pink) */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Brighter shadow on hover */
}

.gloss-effect {
  position: relative;
  color: white;
}

.gloss-effect::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), transparent);
  border-radius: 9999px; /* rounded-full equivalent */
  pointer-events: none; /* Ensure clicks pass through to the link */
}
.bg-base-300 {
color: white;
background: linear-gradient(to right, #404142, #2c2d2e);

}

.white-text{
  color:white;
}

.border{
  
}

.btn.btn-secondary.btn-sm {
  background: #6741D9 !important; /* Initial background color (dark purple) */
  color: white !important; /* Text color */
  border: none !important; /* No border */
  padding: 10px 20px !important; /* Padding around the text */
  border-radius: 20px !important; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  outline: none !important; /* Remove outline */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2) !important; /* Subtle shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for background and shadow */
  font-size: 0.875rem; /* Match the 'btn-sm' font size */
}

.btn.btn-secondary.btn-sm:hover {
  background: #FC49AB !important; /* Background color on hover (vibrant pink) */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5) !important; /* Brighter shadow on hover */
}
